@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --spring-easing: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141 4.4%,
    0.723 12.9%,
    0.938,
    1.077 20.4%,
    1.121,
    1.149 24.3%,
    1.163 27%,
    1.154,
    1.129 32.8%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1
  );
  --spring-duration: 1.333s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow: hidden;
}
